body{
    font-family: 'Bangers', cursive;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Lemon', cursive;
    background-color: #eee3dd;
    color:#AECDAD;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #fff;
    text-shadow: lightgrey 2px 1px;
}
.change{
    display:inline;
    background-color: #aecdad;
    margin-left:48%;
    border-radius: 20%;
}
.card{
    text-size-adjust: auto;
    background-color:#EE999F;
    display:grid;
    width:40%;
    grid-template-columns: 90px auto 10px ;
    position: relative;
    margin-bottom:5%;
    border:solid lightgray 1px;
    box-shadow: 10px 10px 10px #ee999f;
    transition:0.8s;
}
.card:hover{
    background-color: #AECDAD;
    box-shadow: none;
    color:#ee999f;
    border:none;
}
#tothetop{
    width:50px;
    height:30px;
    background-color: #aecdad;
    text-align:center;
    position:fixed;
    bottom:5%;
    right:2%;

}
.content
{
    position:relative;
    top:50px;
    margin-left:10%;
    margin-right:10%;
}
img{
    position:relative;
    border-radius:100%;
    border:solid 1.5px white;
    border-style:double;
    width:80px;
    height:80px;
    top:-20%;
    left:-20%;
}
.date{
    position:relative;
    top:35%;
    grid-column: 2;
}
.what{
    position:relative;
    top:-150%;
    grid-column: 2;
}
.where{
    position:relative;
    top:-140%;

    grid-column: 2;
}
.text{
    position:relative;
    grid-column: 2;
    top:-130%;

}
.date{
    position:relative;
    grid-column: 2;
}
.dot{
    width:20px;
    height:20px;
    border-radius: 100%;
    background-color:black;
    position:absolute;
    right:-27.55%;   
    top:40%;
}
.line{
    width:5px;
    height:150%;
    background-color: black;
    position: absolute; 
    top:1%;
    left:50%;
    margin-left:-2.5px;
}
.card:nth-child(even){
    margin-left:60%;
}

.card:nth-child(even) .dot{
    left:-27.4%
}

h1{
    text-align:center;
}
@media(max-width:1080px)
{
    .dot, .line{
        display:none;
    }

    .card{
        width:80%;
        margin-left:10%;
    }
    .card:nth-child(even){
        width:80%;
        margin-left:10%;
    }
}
    